<footer>
  <link rel="stylesheet" href="./css/footer.css" />
  <div class="footer">
    <div class="footer-left">
      <div class="czap2">
        <div class="footer-text">Obserwuj nas na Youtube</div>
        <div class="utub"><img src="./img/Без имени-11.png" alt=""></div>
      </div>
    </div>

    <div class="vertical-line"></div>

    <div class="footer-right">
      <div class="czap1">
        <ul class="footer-list">
          <li><a href="#"><span class="footer-link-text">Główna</span></a></li>
          <li><a href="#"><span class="footer-link-text">Herbaty</span></a></li>
          <li><a href="#"><span class="footer-link-text">O nas</span></a></li>
          <li><a href="#"><span class="footer-link-text">Dostawa i opłata</span></a></li>
          <li><a href="#"><span class="footer-link-text">Kontakt</span></a></li>
          <li><a href="#"><span class="footer-link-text">Nowości</span></a></li>
          <li><a href="#"><span class="footer-link-text">Blog</span></a></li>
          <li><a href="#"><span class="footer-link-text">Recenzje</span></a></li>
        </ul>
      </div>

      <div class="czap1">
        <ul class="footer-list">
          <li><a href="#"><span class="footer-link-text">Moje zamówienia</span></a></li>
          <li><a href="#"><span class="footer-link-text">Moje zniżki</span></a></li>
          <li><a href="#"><span class="footer-link-text">Promocji</span></a></li>
          <li><a href="#"><span class="footer-link-text">Popularne produkty</span></a></li>
          <li><a href="#"><span class="footer-link-text">Nowe produkty</span></a></li>
          <li><a href="#"><span class="footer-link-text">Polityka prywatności</span></a></li>
          <li><a href="#"><span class="footer-link-text">Polityka plików cookie</span></a></li>
          <li><a href="#"><span class="footer-link-text">Warunki użytkowania</span></a></li>
        </ul>
      </div>

      <div class="kontakty">
        <ul>
          <li><span class="footer-text">Skontaktuj się z nami</span></li>
          <div class="telefony">
            <li><img src="./img/phone2.png" alt=""><span class="footer-text">+48_ _ . _ _ . _ _ _</span></li>
            <li><img src="./img/phone2.png" alt=""><span class="footer-text">+48_ _ . _ _ . _ _ _</span></li>
            <li class="ster"><img src="./img/map-icon.png" alt=""><span class="footer-text">ul. Północna 3</span></li>
          </div>
        </ul>
      </div>

      <div class="mediasoc">
        <ul>
          <li><span class="footer-text">Zawsze jesteśmy online</span></li>
          <li class="socmedia">
            <img src="./img/scmicon1.png" alt="">
            <img src="./img/scmicon2.png" alt="">
            <img src="./img/scmicon3.png" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copiright">
    <div class="textus">Herbata-herb Copiright 2024-2025</div>
    <div class="socmedia-bottom">
      <img src="./img/scmicon1.png" alt="">
      <img src="./img/scmicon2.png" alt="">
      <img src="./img/scmicon3.png" alt="">
      <img src="./img/scmicon4.png" alt="">
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
