<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header-bamboo">
      <div class="content-top">
        <div class="logobar">
          <a href="" class="navbar-brand logo">Herbata-herb</a>
          <div class="search-form">
            <form action="search_results.html" method="GET">
              <input type="text" name="query" placeholder="Szukaj" />
              <button type="submit"><i class="fas fa-search"></i></button>
            </form>
          </div>
          <div class="user-actions">
            <a href="#" class="icon koszyk" title="Koszyk"
              ><i class="fas fa-shopping-cart"></i
            ></a>
            <a href="#" class="icon user" title="Użytkownik"
              ><i class="fas fa-user"></i
            ></a>
            <a href="#" class="icon favorites" title="Ulubione"
              ><i class="fas fa-heart"></i
            ></a>
            <a href="#" class="icon settings" title="Ustawienia"
              ><i class="fas fa-cog"></i
            ></a>
          </div>
        </div>

        <nav class="navbar navbar-expand-md navbar-light navbar-custom">
          <div class="container">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto active">
                <li class="nav-item">
                  <a href="#" class="nav-link"
                    ><i class="fas fa-home"></i>
                    <span class="nav-link-text">GŁÓWNA</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"
                    ><i class="fas fa-leaf"></i>
                    <span class="nav-link-text">HERBATY</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"
                    ><i class="fas fa-info-circle"></i>
                    <span class="nav-link-text">O NAS</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"
                    ><i class="fas fa-truck"></i>
                    <span class="nav-link-text">DOSTAWA I OPŁATA</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"
                    ><i class="fas fa-envelope"></i>
                    <span class="nav-link-text">KONTAKT</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"
                    ><i class="fas fa-star"></i>
                    <span class="nav-link-text">NOWOŚCI</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"
                    ><i class="fas fa-rss"></i>
                    <span class="nav-link-text">BLOG</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"
                    ><i class="fas fa-comments"></i>
                    <span class="nav-link-text">RECENZJE</span></a
                  >
                </li>
              </ul>
              <form action="" class="d-flex"></form>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </body>
</html>
